<p id="notice"><%= notice %></p>




<!-- I space with br's =).....nub -->
  <h1 align="right">OneStop </h1>
  <div id="hr1"></div>

</header>
<header>
<br>

<!-- DIV TO CENTER THIS  -->

  <!-- this is a very rough idea of what i want -->

USER ACTIONS
<br>
<br>
<div style="display:inline-block; vertical-align: middle;">
    <%  if user_signed_in? %>
  <button><%= link_to 'Sign Out', '/users/sign_out', method: :delete %></button> |
  <button> <%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %></button>
    <% else %>


  <button><%= link_to 'Sign In', '/users/sign_in', method: :get, remote: true %></button> |


  <button><%= link_to 'Sign Up', '/users/sign_up', method: :get %></button> |



  <button><%= link_to 'New Account', '/accounts/new', method: :get, remote: true %></button>




    <% end %>
</div>
<br>
<br>

<!-- END OF DIV TO CENTER THIS  -->


<div id="hr1"></div>
<br>
<table>
  <thead>
    <tr>
      <th>Accounts</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>

    <% @accounts.each do |account| %>
    <tr>
      <td><button><%= link_to "#{account.name}", account, remote: true %></button></td>
    </tr>
    <% end %>
  </tbody>
</table>


<br>
